/for/dist/
/JavaApplication3/nbproject/private/
/If/nbproject/private/
/Error/nbproject/private/
/If/build/
/Switch/nbproject/private/
/Switch/build/
/While/nbproject/private/
/While/build/
/For/nbproject/private/
/For/build/
/For2/nbproject/private/
/For2/build/